@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="appsContainer" id="appsContainer">
    @foreach(App app in Model.Apps)
    {
        <div class="appBox container text-nowrap" id="app(@app.AppId)" style="background-color: @app.Colour">
        <div class="appContent">

         @if (app.AppName == "YouTube" || app.AppName == "Netflix")
         {
          <a class="btn-dash btn btn-primary btn-lg" href="@app.Url" target="_blank">@app.AppName</a>
         }else if(app.AppName == "Diary")
         {
          <a asp-page="/Diary" asp-rout-app="@app.AppName" class="btn-dash btn btn-primary btn-lg">@app.AppName</a>

         }
         
         else
         {
           <script type="text/javascript" src="~/js/site.js"></script>
            <button class="btn btn-dash btn-primary btn-lg text-nowrap" id="@app.AppId" onclick="displayApp(this.id)">@app.AppName</button>
          }
        </div>
    </div>    
    }
</div>




